.fixedfooter {
    bottom:0px;
    left: 0px;
    display: flex;
    justify-content: center;
    position: fixed;
    background: rgba(0,0,0,1);
    width: 100%;
    height: 40px;
    z-index: 9999;
    color: #ffffff;
    opacity: 0.3;
}



  
  .row{
      padding: 0;
      margin: 0;
  }