<!-- background image which is also a parallax enabler -->
<!-- parallax container 1 -->
<div class="parallax-container">
  <div class="parallax">
    <img src="/assets/stylish-woman-2x.jpg">
  </div>
</div>
<!-- end of parallax container 1 -->


<!-- Top white band which is invisible but has 
Logo in its left 
Hamburger Menu on right 
aligned to top of the browser
-->



<div class="paddingBlock ">
  <div class="equalHWrap eqWrap ">
    <div class="equalHW eq valign-wrapper  captionfont  red accent-4 white-text">
      
          SQUAPL Mag
      
      </div>
    <div class="equalHW eq valign-wrapper  red accent-4 white-text">
      CURATORS OF XTREME PASSION
    </div>
    
  </div>
</div>  

<!-- Description section 1 of about page -->
<div class="paddingBlock">
  <div class="equalHWrap eqWrap">
    <div class="equalHW eq valign-wrapper captionfont white text-blue-grey darken-3">PASSION</div>
    <div class="equalHW eq">
      <div class="imgwrap">
        <img src="/assets/blackberry-banana-cashew-smoothie-P4F47DW.jpg" class="imagefit"  >
        <div class="overlay valign-wrapper">Fitness Magazine</div>
      </div>
    </div>
      <div class="equalHW eq valign-wrapper captionfont white text-blue-grey darken-3">CREATIVITY</div>
  </div>
</div>            


<!-- Description section 1 of about page -->
<div class="paddingBlock">
  <div class="equalHWrap eqWrap">
    
    <div class="equalHW eq ">
      <div class="imgwrap">
      <img src="/assets/beautiful-fashion-model-in-glasses-sits-PD653FU.jpg" class="imagefit"  >
    <div class="overlay valign-wrapper">Sports Magazine</div>
      </div>
  </div>
    <div class="equalHW eq valign-wrapper captionfont white text-blue-grey darken-3">MONEY</div>
    <div class="blend-red equalHW eq valign-wrapper">
    <img src="/assets/blackberry-banana-cashew-smoothie-P4F47DW.jpg" class="imagefit"  >
    </div>
  </div>
</div>            

<div class="video-container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/_9jptQUY4Is" frameborder="0" allowfullscreen></iframe>
</div>


<!-- Description section 2 of about page -->
<div class="section  red accent-4">
  <div class="row container">
    <h4 class="header white-text">WELCOME TO SQUAPL </h4>
    <hr class="hline">
    <p class="white-text text-darken-3 lighten-3 flow-text">
      Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.
    </p>
    <br>
    <p class="white-text text-darken-3 lighten-3 flow-text">
      Test it.. Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.
    </p>
  </div>
</div>

<div class="section">
  <div class="blend-blue row container ">

      <img src="/assets/fashion-woman-at-sunset.jpg" width="100%" class=" materialboxed"  >

  </div>
</div>


<!-- Description section 1 of about page -->
<div class="paddingBlock">
  <div class="equalHWrap eqWrap">
    <div class="equalHW eq valign-wrapper captionfont">
      <div class="imgwrap">
      <img src="/assets/beautiful-fashion-model-in-glasses-sits-PD653FU.jpg" class="imagefit"  >
      <div class="overlay valign-wrapper">FASHION</div>
    </div>
    </div>

    <div class="equalHW eq valign-wrapper captionfont">

    <div class="imgwrap">
      <img src="/assets/blackberry-banana-cashew-smoothie-P4F47DW.jpg" class="imagefit"  >
      <div class="overlay valign-wrapper">TRAVEL</div>
    </div>

    </div>
  </div>
</div>       
<div class="paddingBlock">
  <div class="equalHWrap eqWrap">
    <div class="equalHW eq valign-wrapper captionfont">
      <div class="imgwrap">
      <img src="/assets/close-up-of-skiing-girl-with-goggles-on-mountains-P5JGNXS.jpg" class="imagefit"  >
      <div class="overlay valign-wrapper">FITNESS</div>
    </div>
    </div>

    <div class="equalHW eq valign-wrapper captionfont">

    <div class="imgwrap">
      <img src="/assets/closeup-of-rear-wheel-of-bike-PK6FUG4.jpg" class="imagefit"  >
      <div class="overlay valign-wrapper">Food</div>
    </div>

    </div>
  </div>
</div> 


<div class="carousel carousel-slider center" data-indicators="true">
  
  <!-- <div class="carousel-fixed-item center " id="rcorners2">
    <a class="btn waves-effect white grey-text darken-text-2">button</a>
  </div> -->

  <div class="carousel-item red white-text" href="#one!">
    
    <img src="/assets/hooded-man-posing-in-the-forest-PRSHVL9.jpg">
    <div class="overlay valign-wrapper" >
      <span id="rcorners2" >  
        Fitness Magazine
      </span>
    </div>
  </div>
  <div class="carousel-item amber white-text" href="#two!">
    <img src="/assets/biker.jpg">
    <div class="overlay valign-wrapper">
      <span id="rcorners2" >  
          Solo Biker Magazine
        </span>
    </div>
  </div>
  <div class="carousel-item green white-text" href="#three!">
    <img src="/assets/healthy-food-PP4VSDN.jpg">
    <div class="overlay valign-wrapper" >
      <span id="rcorners2" >  
        Healthy Magazine
      </span>
    </div>
  </div>
  <div class="carousel-item blue white-text" href="#four!">
    <img src="/assets/healthy-breakfast-quinoa-with-fruits-berry-PJMP8P8.jpg">
    <div class="overlay valign-wrapper" >
      <span id="rcorners2" >  
        Food Magazine
      </span>
    </div>
  </div>
</div>


<div class="section" >
  <div class="row center-align" style="padding:20px">
    <a class="waves-effect red accent-4 waves-light btn-large">GET THE APP</a>
  </div>
</div>


<!-- <app-stickyfooter></app-stickyfooter> -->

