<div class="container">
    <div class="row">
        <div class="col m10 offset-m1 s12">
            <h2 class="center-align">Add Category</h2>
            <div class="row">
                <form (ngSubmit)="onSubmit()" #f="ngForm" class="col s12">
                    <!-- <form class="col s12"> -->

                    <div class="row">
                        <div class="col s12">
                            <select name="language" ngModel class="browser-default selectlanguage">
                                <option value="" disabled>Choose a Language</option>
                                <option *ngFor="let language of languages" [ngValue]="language">
                                    {{ language.value }}
                                </option>
                            </select>
                        </div>

                    </div>

                    <div class="row">

                        <div class="input-field col s12">
                            <input id="name" type="text" class="text-input" ngModel #Name="ngModel" name="name" required placeholder="Enter Category Name">

                            <!-- Validation Checks for Fullname. (hasError or errors can be used) -->
                            <div class="sign-up-error" *ngIf="Name.hasError('required') && Name.touched">Category Name is Mandatory</div>
                        </div>
                    </div>



                    <div class="row">

                        <div class="input-field col s12">
                            <input id="description" type="text" class="text-input" ngModel #Description="ngModel" name="description" required placeholder="Enter Category Description">

                            <!-- Validation Checks for Fullname. (hasError or errors can be used) -->
                            <div class="sign-up-error" *ngIf="Description.hasError('required') && Description.touched">Category Description is Mandatory</div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col s12">
                            <select multiple name="tags" ngModel class="browser-default selecttag">
                                <option value="" disabled>Choose a Tag</option>
                                <option *ngFor="let tag of tags" [value]="tag.name">
                                    {{ tag.name }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col m12">
                            <p class="right-align">
                                <button class="btn waves-effect waves-light red accent-4 sign-up-field button" type="submit" [disabled]=!f.valid name="action">Submit
                                    <i class="material-icons right">send</i>
                                </button>
                            </p>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col m12">
                            <div class="sign-up-error" *ngIf="responsemsg?.length >0">{{responsemsg}}</div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>

</div>