<div id="container">
  
    <div class="section topmenu">
      <div class="row container">
        <!-- <span class="left-align ">
              <a routerLink="/"  >
              <img src="/assets/squapl-magazine-logo-white-mini.png">
              </a>
            </span> -->
  
        <a class=" button right" role="button" [routerLink]="['/sign-in']" width="30" height="30">
            <span>Sign In</span>
            </a>
  
        <div class="already right">
          Already use Squapl?
        </div>
  
      </div>
    </div> <!--end of topmenu -->
  
    <div class="signinlabel">
      SIGN UP TO SQUAPL
    </div>
  
    <div class="sign-up-form">
  
      <div class="social-buttons">
        <a class="facebook-login" role="button"  (click)='this.fbsignup()' width="30" height="30">
          <img src="http://d24vx7b4v625dr.cloudfront.net/facebook-logo.svg" 
          width="20px" height="20px"
          alt="Sign up using Facebook">
        </a>
  
        <a class="google-login" role="button" id="googleBtn"  width="30" height="30">
          <img src="http://d24vx7b4v625dr.cloudfront.net/google-plus-symbol.svg" 
          width="20px" height="20px"
          alt="Sign up using gooogle plus">
        </a>
      </div>
  
      <div class="sign-up-via-email">
        or via email
      </div>
      
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="sign-up-field">
          <input id="fullname" type="text" class="text-input" ngModel #fullName="ngModel" pattern="[a-zA-Z0-9 ]*" name="fullname" required
            placeholder="Full Name">
  
          <!-- Validation Checks for Fullname. (hasError or errors can be used) -->
          <div class="sign-up-error" *ngIf="fullName.hasError('required') && fullName.touched">Full Name is Mandatory</div>
          <div class="sign-up-error" *ngIf="fullName.errors?.pattern && fullName.touched"> Numbers & Special Characters Not Allowed</div>
          
        </div>
  
        <div class="sign-up-field">
          <input id="email" type="email" class="text-input" ngModel required email name="email" #email="ngModel" placeholder="Email">
  
          <div class="sign-up-error" *ngIf="!email.valid && email.touched">Wrong email format</div>
          
        </div>
  
        <div class="sign-up-field">
          <input id="password" type="password" class=" text-input" ngModel required #password="ngModel" minlength="7" name="password"
            placeholder="Password">
  
          <div class="sign-up-error" *ngIf="!password.valid && password.touched">Password Should be minimum 7 characters</div>
        </div>
        <div class="sign-up-error" *ngIf="responsemsg?.length > 0">{{responsemsg}}</div>
        <button class="btn waves-effect waves-light red accent-4 sign-up-field button" type="submit" [disabled]=!f.valid name="action">Submit
              <i class="material-icons right">send</i>
            </button>
  
            <app-terms-privacy></app-terms-privacy>
      </form>
    </div>
  
  </div>
  <!-- end #container -->