
<div class="row container ">
  <h4>PRIVACY POLICY</h4>
</div>
<div class="row container ">
  <hr class="fat">
</div>



<div class="section">
  <div class="row container flow-text">
    <h5>Privacy Terms:</h5><br> This Privacy Policy describes our policies on the collection, use, and disclosure of information
    about you in connection with your use of our websites, emails, and mobile applications ("Service"). The terms "we", "us",
    "our", and "Squapl" refer to Squapl India. When you use the Service, you consent to our collection, use, and disclosure
    of information about you as described in this Privacy Policy. We really, truly care about your privacy and we collect
    information in the following two ways.
  </div>
</div>

<div class="section">
  <div class="row container flow-text">
    <h5>Information we get from your use of the network:</h5>
    <br> 
    Your web browser tells us stuff like your approximate location and how you use the site. Information we get from your use of the network is primarily non-personally-identifying information of the sort that web browsers, servers, and services like Google Analytics typically make available, such as the browser type, language preference, referring site, and the time of each visit. Other non-identifying information that we might have access to includes how you use the service, your approximate location, cookies. Cookies: When you visit our Service, we may place “cookies” on your computer to recognize you. We do this to store your preferences, collect statistical data and track your use of our Service.
  </div>
</div>

<div class="section">
  <div class="row container flow-text">
    <h5>Cookies:</h5>
    <br> 
      Cookies are widely used, and most web browsers are configured initially to accept cookies automatically. If you prefer not to accept cookies, you may adjust and configure your browser settings accordingly. However, if you turn off cookies, or refuse to accept a request to place a cookie, some features and services on the Service may not function properly.
      Your browser also gives us your IP address, which could identify you, but we don’t use it to do that. When you use the network, we also collect potentially personally identifying information in the form of Internet Protocol (IP) addresses. But we don’t use that information to identify you, and we handle and disclose these addresses in the same way we handle other potentially personally identifying information as described below.
  </div>
</div>

<div class="section">
  <div class="row container flow-text">
    <h5>Information you provide to us directly:</h5>
    <br> 
    We ask visitors who sign up for squapl.com to provide a username and email address. And we don't share or disclose the email address or password with anyone.
  </div>
</div>

<div class="section">
  <div class="row container flow-text">
    <h5>Information You Choose to Display Publicly on the Network:</h5>
    <br> 
      If you decide to post personal information in the public parts of our sites, it’s public. Some users may elect to publicly post personally identifying or sensitive information about themselves in their normal use of the network. This could occur through use of the optional profile fields, in question or answer posts, or when an individual posts etc. Information like that, which is voluntarily posted in publicly visible parts of the network, is considered to be public.
      We may change the Privacy Policy any. If we change this policy. The most current version will always be on this page.
  </div>
</div>

<!-- <app-footermini></app-footermini>
<app-stickyfooter></app-stickyfooter> -->