body{
    font-family: 'Droid Serif', serif;
    font-size: 14px;
    color: #2f2f2f;
    background-color: #f9f7f1;
}
header{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 2rem;
    text-transform: uppercase;
    display: inline-block;
    line-height: 72px;
    margin-bottom: 20px;

}
p{
    margin-top: 0;
    margin-bottom: 20px;
}
.head{
    text-align: center;
    position: relative;


}

.headerobjectswrapper{
}

.subhead{
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    padding: 12px 0 12px 0;

}
.weatherforcastbox{
    position: relative;
    width: 12%;
    left: 10px;
    border: 3px double #2f2f2f;
    padding: 10px 15px 10px 15px;
    line-height: 20px;
    display: inline-block;
    margin: 0 50px 20px -360px;
}
.content{
    font-size: 0;
    line-height: 0;
    word-spacing: -.31em;
    display: inline-block;
    /* margin: 30px 2% 0 2%; */
    margin:0px;

}
.collumns{

}

.collumn{
    font-size: 14px;
    line-height: 20px;
    width: 24.5%;
    display: inline-block;
    /* padding: 0 1% 0 1%; */
    padding: 0px;
    vertical-align: top;
    margin-bottom: 50px;
    transition: all .7s;
}
.collumn + .collumn { 
  border-left: 1px solid #2f2f2f;
}
.collumn .headline{
    text-align: center;
    line-height: normal;
    font-family: 'Playfair Display', serif;
    display: block;
    margin: 0 auto;


}
.collumn .headline.hl1{
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px 0 10px 0;

}

.collumn .headline.hl2{
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.collumn .headline.hl2:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}
.collumn .headline.hl2:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 13px;
    display: block;
    margin: 0 auto;

}

.collumn .headline.hl3{
    font-weight: 400;
    font-style: italic;
    font-size: 25px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
    color: #2f2f2f;
}
.collumn .headline.hl4{
    font-weight: 500;
    font-size: 1.4rem;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
}
.collumn .headline.hl4:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}
.collumn .headline.hl4:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 10px;
    display: block;
    margin: 0 auto;

}

.collumn .headline.hl5{
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
    font-style: italic;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.collumn .headline.hl6{
    font-weight: 400;
    font-size: 18px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.collumn .headline.hl6:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}
.collumn .headline.hl6:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 10px;
    display: block;
    margin: 0 auto;

}
.collumn .headline.hl7{
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    display: block;
    padding: 10px 0 10px 0;
}
.collumn .headline.hl8{
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.collumn .headline.hl9{
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.collumn .headline.hl10{
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.collumn .citation{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    line-height: 44px;
    /*font-style: italic;*/
    text-align: center;
    font-weight: 400;
    display: block;
    margin: 40px 0 40px 0;
    font-feature-settings: "liga", "dlig";

}
.collumn .citation:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 16px;
    display: block;
    margin: 0 auto;
}
.collumn .citation:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 16px;
    display: block;
    margin: 0 auto;
}
.collumn .figure {
	  margin: 0px 20px;
}
.collumn .figcaption{
	font-style: italic;
	font-size: 12px;
}

.mediacolor {
    width: 100%;
}

.media {
    -webkit-filter: sepia(80%) contrast(1) opacity(0.8);
    filter: sepia(80%) grayscale(1) contrast(1) opacity(0.8);
    mix-blend-mode: multiply;
    width: 100%;
}
/*________________________________________________________________________________________________________________________________*/
/*MEDIAQUERIES*/

@media only all and (min-width: 1300px) {
    .weatherforcastbox{
        display: none;
    }

    h1{
        font-size: 2.1rem;
    }

    .collumn .headline.hl1{
        font-weight: 700;
        font-size: 2rem;
        text-transform: uppercase;
        padding: 10px 0 10px 0;
    
    }
    .collumn .headline.hl5{
        font-weight: 400;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-style: italic;
        box-sizing: border-box;
        padding: 10px 0 10px 0;
    }

}


@media only all and (max-width: 1300px) {
    .weatherforcastbox{
        display: none;
    }

    h1{
        font-size: 2rem;
    }

    .collumn .headline.hl1{
        font-weight: 700;
        font-size: 1.8rem;
        text-transform: uppercase;
        padding: 10px 0 10px 0;
    
    }
    .collumn .headline.hl5{
        font-weight: 400;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-style: italic;
        box-sizing: border-box;
        padding: 10px 0 10px 0;
    }

}
@media only all and (max-width: 1200px) {
    .collumn{
        width: 33%;
    }
    h1{
        font-size: 2rem;
    }
    .collumn .headline.hl1{
        font-weight: 700;
        font-size: 1.7rem;
        text-transform: uppercase;
        padding: 10px 0 10px 0;
    
    }

    .collumn .headline.hl5{
        font-weight: 400;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-style: italic;
        box-sizing: border-box;
        padding: 10px 0 10px 0;
    }

}
    @media only all and (max-width: 900px) {
        h1{
            font-size: 2rem;
        }
    .collumn{
        width: 47%;
    }
    .collumn .figure {
        margin: 0px 20px;
  }
    .collumn .headline.hl1{
        font-weight: 700;
        font-size: 1.8rem;
        text-transform: uppercase;
        padding: 10px 0 10px 0;
    
    }

    .collumn .headline.hl5{
        font-weight: 400;
        font-size: 3rem;
        text-transform: uppercase;
        font-style: italic;
        box-sizing: border-box;
        padding: 10px 0 10px 0;
    }

}
@media only all and (max-width: 600px) {
    h1{
        font-size: 2rem;
    }
    .collumn{
        width: 100%;
    }
	.collumn + .collumn {
				border-left: none;
      	border-bottom: 1px solid #2f2f2f;
	}
    header{
        max-width: 320px;
        font-size: 50px;
        line-height: 54px;
        overflow: hidden;
    }

    .collumn .figure {
        margin: 0px 0px;
  }

    .collumn .headline.hl1{
        font-weight: 700;
        font-size: 3rem;
        text-transform: uppercase;
        padding: 10px 0 10px 0;
    
    }

    .collumn .headline.hl5{
        font-weight: 400;
        font-size: 3rem;
        text-transform: uppercase;
        font-style: italic;
        box-sizing: border-box;
        padding: 10px 0 10px 0;
    }

}

.descstyle{
    font-size: 1.2rem; 
    color:#2f2f2f;
    padding: 0 15px 0 15px;
    line-height: 1.6rem;
}



.overlay {
    display: flex;
    border: 0px solid green;
    z-index: 10;
    position: absolute;
    text-align: center;
    color:#ffffff;
    left: 0; top: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.3);
    justify-content: center;
    
}

.imgwrap{
    display: flex;
   position: relative;
   align-content: center;
 
   border: 2px solid ffffff;
   background: rgba(0,0,0,0.5);
   color:#ffffff;
 
   align-items: stretch;


}
.imagefit {
    width: 100%;
    height: 100%;
}

.topic{
    /* padding: 0 15px 0 15px; */
    
    font-size: 12px;
    line-height: 30px;
    height: 21px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-family: "Fakt",AvenirNext-Medium,"Segoe UI",sans-serif;
    padding: 0.75rem 0.75rem 0.75rem;
    border: 2px solid #000000;
    font-size: 1.2rem;
}

.topicstyle{
    margin: 0;
    color: #333;
    border-bottom: 1px solid #555;
    margin-left: 10px;

}