
<header>
    <h1>{{ '{' }} We' re Coming, {{ '}' }} </h1>
    <h3>Magazine for Creators </h3> 
    
  </header>
  
  <section class="container"> 
    <div class="wrapBox animated rollIn">
      <div class="box">
        
        <form action="#">
          <div>
            <label for="first-name">Your best email address:</label>
            <input type="email" name="first-name" id="name" placeholder="" />
          </div>
  
          <div>
            <button id="send" type="submit">SUBMIT <i class="fa fa-paper-plane"></i></button>
          </div>
        </form>
        <div class="social">
          <ul>
            <li><i class="fa fa-facebook"></i></li>
            <li><i class="fa fa-google-plus"></i></li>
            <li><i class="fa fa-twitter"></i></li>
            <li><i class="fa fa-youtube"></i></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  
  <footer></footer>

  <!-- https://codepen.io/mantovanig/pen/dYvXLp?editors=0010#0 -->