
<div class="section">
    <div class="row">
  List of Categories: 
    </div>
  </div>
  
  <div class="section" >
      <div class="example-header">
  
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  
        </div>
    <mat-table [dataSource] = "dataSource" matSort>
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
        <mat-cell *matCellDef="let category" ><a href="">{{category.id}}</a></mat-cell>
      </ng-container>
      <ng-container matColumnDef="language">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Language</mat-header-cell>
          <mat-cell *matCellDef="let category" (click)="onClick($event, category)"><a href="">{{category.language}}</a></mat-cell>
        </ng-container>
      <ng-container matColumnDef="category">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
          <mat-cell *matCellDef="let category" (click)="onClick($event, category)"><a href="">{{category.name}}</a></mat-cell>
        </ng-container>
        <ng-container matColumnDef="tags">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Tags</mat-header-cell>
            <mat-cell *matCellDef="let category" (click)="onClick($event, category)"><a href="">{{category.tags}}</a></mat-cell>
          </ng-container>
        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Description</mat-header-cell>
            <mat-cell *matCellDef="let category" (click)="onClick($event, category)"><a href="">{{category.description}}</a></mat-cell>
          </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onClick($event, row)"></mat-row>
    </mat-table>
  
  
    <mat-paginator [length]="pageLength"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent = $event; onPaginateChange($event)"
    >
  </mat-paginator>
  
  </div>